@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 500px;
    height: 500px;
    transform: translateX(0);
}

.image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

img {
    object-fit: cover;
    height: 500px;
    width: 500px;
}